/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 de ago de 2022, 01:01:21
    Author     : STI
*/


.active{
    font-weight: bold;
}

.tex{
    font-family: inherit;
    font-style: normal;
    
    color: #000;
}

.btn-pagar{
    width: 154px;
    font-weight: bold;
    background-color: #99CC01;
    border-radius: 47px;
    color: white;
    border: 0px;
}

.fixedHeightImg > img {
    max-height: 782px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background: rgba(0, 0, 0, 0.61);
  }
  
.btn-um{
    color: white;
    font-family: inherit;
    font-size: 20px;
    background-color: #99CC01;
    font-weight: bold;
    border: 0;
    border: solid 2px #99CC01;
}

.btn-dois{
    color: white;
    font-family: inherit;
    font-size: 20px;
    background-color: null;
    font-weight: bold;
    border: solid 2px white;
}

.carousel-caption > .texto{
    font-family: inherit;
    text-align: left;
    align-items: center;
}

.rodape{
    padding: 20px;
    background-color:#d1e7dd;
}

.links > h5{
    font-weight: bold;
    color: #000;
}

.rodape2{
    padding: 10px;
    background-color: #99CC01;
}

.nav-link{
    padding: 0px;
    color: #000;
}

.onde{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #166A9E;
    color: white;
    font-weight: bold;
    font-family: inherit;
}