<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <display-name>DWR Servlet</display-name>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CadastrarVisitante</servlet-name>
        <servlet-class>controller.visitante.CadastrarVisitante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarVisitante</servlet-name>
        <servlet-class>controller.visitante.AtualizarVisitante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirVisitante</servlet-name>
        <servlet-class>controller.visitante.ExcluirVisitante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarOm</servlet-name>
        <servlet-class>controller.organizacaomilitar.CadastrarOm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarOm</servlet-name>
        <servlet-class>controller.organizacaomilitar.AtualizarOm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirOm</servlet-name>
        <servlet-class>controller.organizacaomilitar.ExcluirOm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarEntrada</servlet-name>
        <servlet-class>controller.visita.CadastrarEntrada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarSaida</servlet-name>
        <servlet-class>controller.visita.CadastrarSaida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarRelatorioPdf</servlet-name>
        <servlet-class>controller.relatorio.GerarRelatorioPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>FiltroPaginas</filter-name>
        <filter-class>controller.FiltroPaginas</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroPaginas</filter-name>
        <url-pattern>/restrito/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Autenticador</servlet-name>
        <servlet-class>controller.Autenticador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autenticador</servlet-name>
        <url-pattern>/Autenticador</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sair</servlet-name>
        <servlet-class>controller.Sair</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sair</servlet-name>
        <url-pattern>/restrito/Sair</url-pattern>
        <url-pattern>/restrito/divisaosecao/Sair</url-pattern>
        <url-pattern>/restrito/organizacaomilitar/Sair</url-pattern>
        <url-pattern>/restrito/setor/Sair</url-pattern>
        <url-pattern>/restrito/usuario/Sair</url-pattern>
        <url-pattern>/restrito/visita/Sair</url-pattern>
        <url-pattern>/restrito/visitante/Sair</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>controller.usuario.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/restrito/usuario/controller.usuario/CadastrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AtualizarUsuario</servlet-name>
        <servlet-class>controller.usuario.AtualizarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtualizarUsuario</servlet-name>
        <url-pattern>/restrito/usuario/controller.usuario/AtualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AtualizarSenhaUsuario</servlet-name>
        <servlet-class>controller.usuario.AtualizarSenhaUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtualizarSenhaUsuario</servlet-name>
        <url-pattern>/restrito/usuario/controller.usuario/AtualizarSenhaUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExcluirUsuario</servlet-name>
        <servlet-class>controller.usuario.ExcluirUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcluirUsuario</servlet-name>
        <url-pattern>/restrito/usuario/controller.usuario/ExcluirUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AtivarUsuario</servlet-name>
        <servlet-class>controller.usuario.AtivarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtivarUsuario</servlet-name>
        <url-pattern>/restrito/usuario/controller.usuario/AtivarUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastrarDivisaoSecao</servlet-name>
        <servlet-class>controller.divisaosecao.CadastrarDivisaoSecao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarDivisaoSecao</servlet-name>
        <url-pattern>/restrito/divisaosecao/controller.divisaosecao/CadastrarDivisaoSecao</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AtualizarDivisaoSecao</servlet-name>
        <servlet-class>controller.divisaosecao.AtualizarDivisaoSecao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtualizarDivisaoSecao</servlet-name>
        <url-pattern>/restrito/divisaosecao/controller.divisaosecao/AtualizarDivisaoSecao</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExcluirDivisaoSecao</servlet-name>
        <servlet-class>controller.divisaosecao.ExcluirDivisaoSecao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcluirDivisaoSecao</servlet-name>
        <url-pattern>/restrito/divisaosecao/controller.divisaosecao/ExcluirDivisaoSecao</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastrarSetor</servlet-name>
        <servlet-class>controller.setor.CadastrarSetor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarSetor</servlet-name>
        <url-pattern>/restrito/setor/controller.setor/CadastrarSetor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AtualizarSetor</servlet-name>
        <servlet-class>controller.setor.AtualizarSetor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtualizarSetor</servlet-name>
        <url-pattern>/restrito/setor/controller.setor/AtualizarSetor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExcluirSetor</servlet-name>
        <servlet-class>controller.setor.ExcluirSetor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcluirSetor</servlet-name>
        <url-pattern>/restrito/setor/controller.setor/ExcluirSetor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarVisitante</servlet-name>
        <url-pattern>/restrito/visitante/controller.visitante/CadastrarVisitante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarVisitante</servlet-name>
        <url-pattern>/restrito/visitante/controller.visitante/AtualizarVisitante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirVisitante</servlet-name>
        <url-pattern>/restrito/visitante/controller.visitante/ExcluirVisitante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarOm</servlet-name>
        <url-pattern>/restrito/organizacaomilitar/controller.organizacaomilitar/CadastrarOm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarOm</servlet-name>
        <url-pattern>/restrito/organizacaomilitar/controller.organizacaomilitar/AtualizarOm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirOm</servlet-name>
        <url-pattern>/restrito/organizacaomilitar/controller.organizacaomilitar/ExcluirOm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarEntrada</servlet-name>
        <url-pattern>/restrito/visita/controller.visita/CadastrarEntrada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarSaida</servlet-name>
        <url-pattern>/restrito/visita/controller.visita/CadastrarSaida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarRelatorioPdf</servlet-name>
        <url-pattern>/restrito/visita/controller.relatorio/GerarRelatorioPdf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
